<style>
	.hidden {
		visibility: hidden;
	}

	.active {
		border-bottom: 2px solid #03a9f4;
	}

	.loader svg.lds-rolling {
		position: absolute;
		left: 45%;
		top: 43%;
	}

	.loading {
		opacity: 0.4;
	}

	#chart svg {
		/*opacity: 0.4;*/
	}

	.js-toggle-ticker {
		cursor: pointer;
	}

	.chart-wrapper.card-content {
		min-height: 420.667px;
	}

	.chart-wrapper .card-action {
		padding-bottom: 0 !important;
	}

	.js-time-period {
		display: inline-block;
		height: 36px;
	}

	.card .card-action {
		border-top: none !important;
		border-bottom: 1px solid rgba(160, 160, 160, 0.2);
	}

	div .card-content {
		margin-top: 15px;
	}

	.domain {
		display: none !important;
	}

	.c3-event-rects {
		cursor: crosshair;
	}
</style>
<div class="container" style="width: 85%">
	<div class="row">
		<div class="col s12 m12 l12">
			<div class="card" style="">
				<div class="chart-wrapper card-content">
					<div class="card-action right-align">
						{{!--
						<a href="javascript:;" id="1-day" class="timePeriod light-blue-text">1D</a> --}}
						<a href="javascript:;" id="1-month" value="1" class="js-time-period light-blue-text">1M</a>
						<a href="javascript:;" id="3-month" value="3" class="js-time-period light-blue-text">3M</a>
						<a href="javascript:;" id="1-year" value="12" class="js-time-period active light-blue-text">1Y</a>
						<a href="javascript:;" id="5-year" value="60" class="js-time-period light-blue-text">5Y</a>
					</div>
					{{!--
					<svg id="visualisation" width="100%" height="300"></svg> --}}
					<div class="loader">
						<svg class="lds-rolling hidden" width="90px" height="90px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-rolling"
						 style="background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;">
							<circle cx="50" cy="50" fill="none" ng-attr-stroke="{{config.color}}" ng-attr-stroke-width="{{config.width}}" ng-attr-r="{{config.radius}}"
							 ng-attr-stroke-dasharray="{{config.dasharray}}" stroke="#03a9f4" stroke-width="7" r="35" stroke-dasharray="164.93361431346415 56.97787143782138">
								<animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="0.9s"
								 begin="0s" repeatCount="indefinite"></animateTransform>
							</circle>
						</svg>
						<div id="chart"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tickers js-tickers row">
		{{#each data }}
		<div class="col s12 m12 l4">
			<div class="card js-toggle-ticker align-left" id="{{ symbol }}" style="min-height: 80px;">
				<div class="card-content">
					<span class="card-title pull-left">{{ symbol }}</span>
					<a id="{{ symbol }}" class="js-remove-ticker pull-right" style="cursor: pointer;">
						<i class="fa fa-times" aria-hidden="true"></i>
					</a>
				</div>
			</div>
		</div>
		{{/each}}

		<div class="col s12 m12 l4">
			<div class="card" style="min-height: 80px;">
				<div class="card-content">
					<p>Enter a ticker</p>
					<input id="ticker_symbol" type="text" placeholder="AAPL">
				</div>
				<div class="card-action">
					<a href="javascript:;" class="add-stock">Add</a>
				</div>
			</div>
		</div>
	</div>

</div>
<script src="/bundle.js" charset="utf-8"></script>