<div class="container" style="width: 85%">
	<div class="row">
		<div class="col s12 m12 l12">
			<div class="card" style="">
				<div class="chart-wrapper card-content">
					<div class="card-action right-align">
						{{!--
						<a href="javascript:;" id="1-day" class="timePeriod light-blue-text">1D</a> --}}
						<button id="1-month" value="1" class="js-time-period light-blue-text">1M</button>
						<button id="3-month" value="3" class="js-time-period light-blue-text">3M</button>
						<button id="1-year" value="12" class="js-time-period active light-blue-text">1Y</button>
						<button id="5-year" value="60" class="js-time-period light-blue-text">5Y</button>
					</div>
					{{!--
					<svg id="visualisation" width="100%" height="300"></svg> --}}
					<div class="loader">
						<svg class="lds-rolling hidden" width="90px" height="90px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-rolling"
						 style="background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;">
							<circle cx="50" cy="50" fill="none" ng-attr-stroke="{{config.color}}" ng-attr-stroke-width="{{config.width}}" ng-attr-r="{{config.radius}}"
							 ng-attr-stroke-dasharray="{{config.dasharray}}" stroke="#03a9f4" stroke-width="7" r="35" stroke-dasharray="164.93361431346415 56.97787143782138">
								<animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="0.9s"
								 begin="0s" repeatCount="indefinite"></animateTransform>
							</circle>
						</svg>
						<div id="chart"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tickers js-tickers row">
		{{#each data }}
		<div class="col s12 m12 l4">
			<div class="card js-toggle-ticker align-left" id="{{ symbol }}" style="min-height: 80px;">
				<div class="card-content">
					<span class="card-title pull-left">{{ symbol }}</span>
					<a id="{{ symbol }}" class="js-remove-ticker pull-right" style="cursor: pointer;">
						<i class="fa fa-times" aria-hidden="true"></i>
					</a>
				</div>
			</div>
		</div>
		{{/each}}

		<div class="col s12 m12 l4">
			<div id="search_bar" class="card" style="min-height: 80px;">
				<div class="card-content" style="padding-bottom: 0;">
					<p>Enter a ticker</p>
					<input id="ticker_symbol" type="text" placeholder="AAPL">
				</div>
				<div class="card-action">
					<button class="add-stock">Add</button>
				</div>
			</div>
		</div>
	</div>

</div>
<script src="/bundle.js" charset="utf-8"></script>